.profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
}

.profile-pic {
    display: flex;
}

.avatar {
    height: 10rem;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
}

.avatar:hover {
    transform: scale(1.08);
}

.add-profile {
    height: 10rem;
    width: 10rem;
    background-color: rgb(24, 227, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.add-profile:hover {
    background-color: rgb(10, 195, 10);
}

.add-profile p {
    color: rgb(224, 224, 224);
}